.paragraph--main__title {
  color: #1D2734;
  margin-bottom: 0;
}

.paragraph--paragraph__first--body {
  color: #1D2734;
  margin-left: 30px;
}

.paragraph--ultra {
  color: #ff8324;
  margin-top: 0;
  margin-bottom: 0;
}

.paragraph--paragraph__third--header {
  color:#1D2734;
  margin-top: 0;
}
