.flexCol--card {
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 324px;
  height: 336px;
}

.slideChildrenContainer--carrusel--slider {
  padding: 20px;
}

.flexColChild--space--stamp {
  background-color: white;
  margin-right: 0px;
}

.flexCol--space--stamp {
  background-color: white;
  display: flex;
  justify-content: flex-end;
}

.flexRow--flexi {
  width: 100%;
}

.flexCol--col__one--text {
  background-color: #F0F0F2;
}

.flexCol--col__two--text {
  background-color: #F0F0F2;
}

.flexCol--col__three--text {
  background-color: #F0F0F2;
  transform: rotate(180deg);
}

/* 2do slider */

.flexColChild--infocard--desktop {
  background-color: white;
}

.flexCol--like {
  height: 32px;
  border-radius: 5px;
  margin-right: 7px;
  border-width: 1px;
}

.flexCol--percent {
  height: 32px;
  border-radius: 5px;
  background-color: #1D2734;
}

.flexCol--empty--desktop {
  height: 10px;
}

.flexRowContent--buy {
  width: 210px;
  height: 48px;
  border-radius: 10px;
  margin-left: 5px;
  border-width: 1.5px;
}

.flexRow--carrusel__total--desktop {
  margin: 0 70px 0 70px;
}



