.flexCol--card {
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 324px;
  height: 336px;
}

.slideChildrenCpntainer--carrusel--slider {
  padding: 20px;
}

.flexColChild--space--stamp {
  background-color: white;
  margin-right: 0px;
  float: right;
}

.flexCol--space--stamp {
  background-color: white;
  display: flex;
  justify-content: flex-end;
}

.flexRow--flexi {
  width: 100%;
}

.flexCol--col__one--text {
  background-color: #F0F0F2;
}

.flexCol--col__two--text {
  background-color: #F0F0F2;
}

.flexCol--col__three--text {
  background-color: #F0F0F2;
  transform: rotate(180deg);
}
