/*Lines not active after dot properties*/
:global(.vtex-slider-layout-0-x-paginationDot--isActive~.vtex-slider-layout-0-x-paginationDot:after) {
  width: 44px;
  height: 2px;
  content: "";
  font-size: 0;
  background-color: rgba(0,0,0,.4);
  position: absolute;
}