@font-face {
  font-family: 'Lexend Bold';
  font-style: normal;
  src: url('assets/fonts/Lexend-SemiBold.ttf');
}

@font-face {
  font-family: 'Lexend Light';
  font-style: normal;
  src: url('assets/fonts/Lexend-Light.ttf');
}

@font-face {
  font-family: 'Lexend Thin';
  font-style: normal;
  src: url('assets/fonts/Lexend-Thin.ttf');
}

@font-face {
  font-family: 'Lexend Regular';
  font-style: normal;
  src: url('assets/fonts/Lexend-Regular.ttf');
}

